@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-fonts-attn: #9873ff;
  --color-background: #f5f5f5;
  --color-fonts: #b0b0b0;
  --color-line: #c8c5d1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-style: normal;
}

body {
  font-family: "OpenSans";
  color: var(--color-fonts);
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-reset {
  cursor: pointer;
}

.btn {
  border-radius: 0;
}

.btn__tooltip {
  border: none;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
}

.btn__tooltip:not(:last-child) {
  margin-right: 6px;
}

.list-reset {
  padding: 0;
  list-style-type: none;
}

.header * {
  margin-top: 0;
  margin-bottom: 0;
}

.header__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  offset: 0px, 3.39px rgba(176, 190, 197, 0.32);
}

.logo {
  margin-right: 38px;
}

.header__logo {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #9873ff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.header__group {
  width: 581px;
  height: 44px;
  padding: 0;
}

.header__input {
  height: 100%;
  border-radius: 0;
  font-size: 14px;
  line-height: 19px;
  font-style: 400;
  padding: 19px 12px;
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
}

.header__logo--title {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

/* clients */

.clients__container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.clients__title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #333;
}

.clients__btn {
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
  padding: 14px 26.5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  border: 1px solid #9873ff;
  border-radius: 0;
  color: #9873ff;
  background-image: url("../img/btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: left;
}

.clients__img {
  vertical-align: top;
  width: 16px;
  height: 16px;
}

.table__clients {
  margin-bottom: 40px;
}

.table__header {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-fonts);
}

.table__header--date {
  width: 12%;
}

.table__spinner--wrapper {
  padding-top: 132px;
  padding-bottom: 132px;
  background-color: #fff;
  margin-bottom: 40px;
}

.table__spinner {
  width: 36px;
  height: 36px;
  color: #9873ff;
}

.table__sort--toggle {
  transform: rotate(180deg);
}

.table__header--arrow {
}

.table__content {
  background-color: #fff;
}

.table__row {
  border-bottom: 1px solid var(--color-fonts);
}

.table__range:not(:last-child) {
  margin-right: 10px;
}

.table__clientId {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-fonts);
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.625rem;
}

.table__range {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #333;
  padding: 0;
}

.table__date {
}

.table__time {
  padding-left: 5px;
  color: var(--color-fonts);
}

/* modal */
.modal.show .modal-dialog {
  transform: translateY(122px);
}

.modal-dialog {
  width: 450px;
}

.modal-body {
  padding: 0 1.875rem;
}

.modal-header {
  padding-left: 1.875rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.modal__header {
  position: relative;
  border: 0;
  align-items: flex-end;
  justify-content: flex-start;

}

.modal__title {
  margin-right: 9px;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  color: #333;
}

.modal__id {

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #b0b0b0;
}

.modal__content--delete {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
 right: 16px;
 top: 9px;
  font-size: 2.5rem;
  font-weight: 400;
}

.modal__btn--delete {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.modal__btn--action{
  padding:12px 35px ;
  background-color: #9873FF;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
}

.modal__btn--cancel {
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #333;
}

.form__input--group {
  width: 100%;
  border-bottom: 1px solid var(--color-line);
  margin-bottom: 9px;
}

.modal__btn--addContact {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
  padding-left: 20px;
  background-image: url("../img/add_circle_outline.svg");
  z-index: 10;
}

.form__group--contact::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + 60px);
  transform: translateX(30px);
  height: 100%;
  background-color: #c8c5d1;
  opacity: 0.3;

}

.modal-footer {
  border: 0;
}

.form__group--contact {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  margin-top: 25px;
}

.form__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--color-fonts);
}


.form__input--text {
  height: 23px;
  border: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.form-group__contacts {
  padding: 15px 30px;
  background-color: #c8c5d1;
}

.custom-select {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  width: 30%;
  height: 100%;
  z-index: 10;
  background-color: #E7E5EB;
  border: 1px solid #c8c5d1;
  border-radius: 0;
}

.custom-select option {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  width: 100%;
  font-family: inherit;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: auto;
  border: 1px solid #c8c5d1;
}

.form-control__contact {
  position: relative;
  display: inline-block;
  width: 70%;
  z-index: 10;
  border-radius: 0;
  background-color: #e7e5eb;;
}

.form__group--empty{
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.table__btn {
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
  padding-left: 16px;
}

.table__btn:not(:last-child) {
  margin-right: 30px;
}

.table__btn--edit {
  background-image: url("/client/img/edit.svg");
}

.table__btn--delete {
  background-image: url("/client/img/cancel.svg");
}

.btn__icon {
  width: 16px;
}
