@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-fonts-attn: #9873ff;
  --color-background: #f5f5f5;
  --color-fonts: #b0b0b0;
  --color-line: #c8c5d1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-style: normal;
}

body {
  font-family: "OpenSans";

  color: var(--color-fonts);
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.list-reset {
  padding: 0;
  list-style-type: none;
}

.header * {
  margin-top: 0;
  margin-bottom: 0;
}

.header__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  offset: 0px, 3.39px rgba(176, 190, 197, 0.32);
}

.logo {
  margin-right: 38px;
}

.header__logo {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #9873ff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.header__group {
  width: 581px;
  height: 44px;
  padding: 0;
}

.header__input {
  height: 100%;
  border-radius: 0;
  font-size: 14px;
  line-height: 19px;
  font-style: 400;
  padding: 19px 12px;
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
}

.header__logo--title {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

/* clients */

.clients__container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #f5f5f5;
}

.clients__title {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #333;
}

.clients__btn {
  margin-left: auto;
  margin-right: auto;
  flex-grow: 0;
  padding: 14px 26.5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  border: 1px solid #9873ff;
  border-radius: 0;
  color: #9873ff;
  background-image: url("../img/btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: left;
}

.clients__img {
  width: 16px;
  height: 16px;
}

.table__header {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-fonts);
}

.table__header--arrow {
  width: 12px;
}

.table__content {
  background-color: #fff;
}

.table__row {
  border-bottom: 1px solid var(--color-fonts);
}

.table__clientId {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-fonts);
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.625rem;
}

.table__range {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #333;
  padding: 0;
}

.table__date {
}

.table__time {
  padding-left: 5px;
  color: var(--color-fonts);
}

/* modal */

.modal-body {
  padding:0 1.875rem;
}

.modal__header {
  border: 0;
  align-items: flex-end;
}

.modal__title {
  margin-right: 9px;
  font-size: 18px;
  line-height: 24.5px;
  color: #333;
}

.modal__id {
  font-size: 12px;
  font-weight: 16px;
  color: #b0b0b0;
}

.modal__form {

}

.form__input--group {
  width: 100%;
  border-bottom: 1px solid var(--color-line);
  margin-bottom: 14px;
}

.form__label {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--color-fonts);
}

.form__input--text {
  height: 27px;
  border: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.form-group__contacts {
  padding: 15px 30px;
  background-color: #c8c5d1;
}

.custom-select {
  width: 40%;
}

.form-control__contact {
  display: inline-block;
  width: 50%;
}

.btn__custom {
  display: flex;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.btn__icon {
  width: 16px;
}
