@media (max-width: 991.98px) {
  .header__container,
  .clients__container {
    max-width: 768px;
  }

  .table__group--action {
    flex-direction: column;
  }

  .table__group--date {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
  }

  .table__time,
  .table__date {
    padding: 0;
  }

  .btn-group,
  .btn-group-vertical {
    display: inline-block;
  }
}

@media (max-width: 767.98px) {
  .header__group {
    display: none;
  }

  .header__container{
    padding: 8px 0;
  }

  .logo {
    margin-right: auto;
    margin-left: auto;
  }

  .header__logo {
    width: 24px;
    height: 24px;
  }

  .header__logo--title {
    font-size: 8px;
    line-height: 12px;
  }

  .clients__title{
    font-size: 18px;
    list-style: 24px;
  }
}
